astroid>=2.4.2
async-generator==1.10
attrs==20.3.0
bleach==3.3.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
coverage==5.4
cryptography==3.3.2
docutils==0.16
h11==0.12.0
idna>=2.5
importlib-metadata
isort==5.7.0
jeepney==0.6.0
keyring==22.0.1
lazy-object-proxy==1.5.2
mccabe==0.6.1
numpy==1.22.0
outcome==1.1.0
packaging==20.8
pandas==1.1.5
pkginfo==1.7.0
pycparser==2.20
Pygments==2.7.4
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.0
selenium==3.141.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.3.0
toml==0.10.2
tqdm==4.56.0
trio==0.18.0
trio-websocket==0.9.1
twine==3.3.0
urllib3==1.26.5
webencodings==0.5.1
wrapt==1.12.1
wsproto==1.0.0
zipp==3.4.0
